<div class="alert alert-success">
<b>Комментарий ревьюера v 2.0 ✔️:</b> Отлично, Никита! Ты исправил все, даже самые незначительные недостатки и теперь твой проект конечно же принят. 
    
Спасибо за работу и успехов в следующих проектах!) </div>

<div style="border:solid green 2px; padding: 20px">
<b>Привет!</b>

Меня зовут Михаленко Дмитрий, и я буду проверять твой проект. Предлагаю общаться на «ты» :) Но если это не удобно - дай знать, и мы перейдем на "вы". 

Моя основная цель — не указать на совершенные тобою ошибки, а поделиться своим опытом и помочь тебе стать аналитиком данных. Ты уже проделал большую работу над проектом, но давай сделаем его еще лучше. Ниже ты найдешь мои комментарии - **пожалуйста, не перемещай, не изменяй и не удаляй их**. Увидев у тебя ошибку, в первый раз я лишь укажу на ее наличие и дам тебе возможность самому найти и исправить ее. На реальной работе твой начальник будет поступать так же, а я пытаюсь подготовить тебя именно к работе аналитиком. Но если ты пока не справишься с такой задачей - при следующей проверке я дам более точную подсказку. Я буду использовать цветовую разметку:

<div class="alert alert-danger">
<b>Комментарий ревьюера ❌:</b> Так выделены самые важные замечания. Без их отработки проект не будет принят. </div>

<div class="alert alert-warning">
<b>Комментарий ревьюера ⚠️:</b> Так выделены небольшие замечания. Я надеюсь, что их ты тоже учтешь - твой проект от этого станет только лучше. Но настаивать на их отработке не буду.

</div>

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Так я выделяю все остальные комментарии.</div>

Давай работать над проектом в диалоге: **если ты что-то меняешь в проекте или отвечаешь на мои комментарии — пиши об этом.** Мне будет легче отследить изменения, если ты выделишь свои комментарии:
<div class="alert alert-info"> <b>Комментарий студента:</b> Например, вот так.</div>

Всё это поможет выполнить повторную проверку твоего проекта оперативнее.

# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [14]:
data.duplicated().sum()

54

In [15]:
data = data.drop_duplicates()

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [16]:
data['education'] = data['education'].str.lower()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуйте данные и ответьте на вопросы

<div class="alert alert-danger">
<b>Комментарий ревьюера ❌:</b> Замечание по всему разделу ответов на вопросы
    
****
У тебя хорошие навыки написания кода, в частности groupby, но все же в данном случае не обязательно усложнять код и писать его в несколько строк, достаточно в пивот воспользоваться встроенными функциями. Выведи пожалуйста в каждом из ответов таблицу, в которой будет количество кредитополучателей, количество должников и долю должников, сделать все это можно в одну строку. Немного подскажу, воспользуйся sum,count и mean
    
******
    
Дополни пожалуйста этот раздел работы)

<div class="alert alert-info"> <b>Комментарий студента:</b> Благодарю за замечания. Я написал код в несколько строк, по двум причинам: 1) большую часть обучения нас тренировали группировать именно через groupby; 2) я думал, что написание в несколько строк повысить удобочитаемость кода. </div>

<div class="alert alert-success">
<b>Комментарий ревьюера v 2.0 ✔️:</b> Все понял) Отлично, пивот добавлен как надо

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

In [22]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.

debt_child = pd.DataFrame()
debt_child['family_child_count'] = data.groupby('children')['debt'].count()
debt_child['family_child_debt'] = data.groupby('children')['debt'].sum()
debt_child['debt_ratio_%'] = debt_child['family_child_debt'] / debt_child['family_child_count'] * 100

display(debt_child.sort_values('debt_ratio_%', ascending=False))

          family_child_count  family_child_debt  debt_ratio_%
children
4                         41                  4      9.756098
2                       2052                194      9.454191
1                       4809                444      9.232689
3                        330                 27      8.181818
0                      14107               1063      7.535266
5                          9                  0      0.000000

<div class="alert alert-info"> <b>Комментарий студента:</b> Ниже вариант с оценкой в одну строку. Не нашел как устанавливать порядок колонок (mean в центре не очень нравится)  </div>

<div class="alert alert-success">
<b>Комментарий ревьюера v 2.0 ✔️:</b> Можно например вот так:

In [23]:
display(data.pivot_table(index='children', values='debt', aggfunc=['count', 'sum', 'mean']))

          count   sum      mean
           debt  debt      debt
children
0         14107  1063  0.075353
1          4809   444  0.092327
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

In [24]:
display(data.pivot_table(index='children', values='debt', aggfunc=['count','sum','mean']).sort_values('mean',ascending=False))

ValueError: The column label 'mean' is not unique.
For a multi-index, the label must be a tuple with elements corresponding to each level.

**Вывод:** Семьи без детей реже не платят в срок в сравнении с семьями с детьми. Отмечается увеличение задолженностей с ростом количества детей (не включая в учет данные по семьям с 5 детьми). Однако семьи с 3 детьми реже задерживают оплату по кредиту, чем семьи с 1, 2 и 4 детьми. С ростом количества детей снижается и количество одобренных кредитов, что может влиять на однородность данных, поэтому возможно нужно больше наблюдений в группах с детьми.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> В остальном, хороший вывод, зависимость здесь действительно есть

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [ ]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
debt_family_status = pd.DataFrame()
debt_family_status['family_status_count'] = data.groupby('family_status')['debt'].count()
debt_family_status['family_status_debt'] = data.groupby('family_status')['debt'].sum()
debt_family_status['debt_ratio_%'] = debt_family_status['family_status_debt'] / debt_family_status['family_status_count'] * 100
display(debt_family_status.sort_values('debt_ratio_%', ascending=False))

<div class="alert alert-info"> <b>Комментарий студента:</b> Ниже вариант с оценкой в одну строку. Не нашел как устанавливать порядок колонок (mean в центре не очень нравится)  </div>

In [ ]:
display(data.pivot_table(index='family_status', values='debt', aggfunc=('count','sum','mean')).sort_values('mean',ascending=False))

**Вывод:** Клиенты банка бывшие в отношениях, но закончившие их по каким-либо причинам (развод, овдовение) чаще платят в срок чем люди в отношениях и не женатые. Стоит отметить, что не женатые чаще всего просрачивают плату по кредиту.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> И правда, те в чьей жизни в каком-то виде был брак, более надежные кредитополучатели

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [ ]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
debt_total_income_category = pd.DataFrame()
debt_total_income_category['total_income_category_count'] = data.groupby('total_income_category')['debt'].count()
debt_total_income_category['total_income_category_debt'] = data.groupby('total_income_category')['debt'].sum()
debt_total_income_category['debt_ratio_%'] = debt_total_income_category['total_income_category_debt'] / debt_total_income_category['total_income_category_count'] * 100
display(debt_total_income_category.sort_values('debt_ratio_%', ascending=False))

<div class="alert alert-info"> <b>Комментарий студента:</b> Ниже вариант с оценкой в одну строку. Не нашел как устанавливать порядок колонок (mean в центре не очень нравится). Так же дополнил вывод  </div>

<div class="alert alert-success">
<b>Комментарий ревьюера v 2.0 ✔️:</b> Все верно

In [ ]:
display(data.pivot_table(index='total_income_category', values='debt', aggfunc=('count','sum','mean')).sort_values('mean',ascending=False))

**Вывод:** Между уровнем дохода и возвратом кредита в срок не наблюдеается четкой зависимости. Стоит отметить, что клиенты категории B и С вместе составляют почти 21 000 случаев, в то время как категории А, Е и D сотавляют почти 400 случаев. Данные по категориям не однородны, поэтому для корректного анализа лучше иметь больший объем данных по категориям А, Е и D.

<div class="alert alert-warning">
<b>Комментарий ревьюера ⚠️:</b> Согласен, тут еще неплохо было бы отметить, что часть данных не очень репрезентативна

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

In [ ]:
# Ваш код будет здесь. Вы можете создавать новые ячейки.
debt_purpose_category = pd.DataFrame()
debt_purpose_category['purpose_count'] = data.groupby('purpose_category')['debt'].count()
debt_purpose_category['purpose_debt'] = data.groupby('purpose_category')['debt'].sum()
debt_purpose_category['debt_ratio_%'] = debt_purpose_category['purpose_debt'] / debt_purpose_category['purpose_count'] * 100

display(debt_purpose_category.sort_values('debt_ratio_%', ascending=False))

<div class="alert alert-info"> <b>Комментарий студента:</b> Ниже вариант с оценкой в одну строку. Не нашел как устанавливать порядок колонок (mean в центре не очень нравится)  </div>

In [ ]:
display(data.pivot_table(index='purpose_category', values='debt', aggfunc=('count','sum','mean')).sort_values('mean',ascending=False))

**Вывод:** Люди берущие кредит на операции с недвижимостью и проведение свадьбы чаще возвращают деньги по кредиту всрок, нежели люди берущие кредит на операции с авто и образование.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Да, все именно так

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

*Ответ:* Пропуски были отмечены в полях с источником дохода и средним стажем. Эти данные изначально могли не учитывать при выдаче кредита и не собирали их вообще до определенного момента. Так же эта информация могла собираться по желанию.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Хорошие предположения о пропусках данных

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

*Ответ:* В независимости от вида распределения данных медиана будет находиться в середине числового ряда и не повлияет на характер распределения данных

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Именно, дело тут в выбросах

## Общий вывод.

На основании проведенного исследования продемонстрировано, что люди не имеющие детей чаще возвращают кредит в срок, по сравнению с людьми с детьми. Клиенты бывшие в отношениях так же возвращают деньги по кредиту в срок чаще, чем не женатые и люди в отношениях. Уровень дохода не влияет на возврат кредита в срок. Люди берущие кредит на операции с недвижимостью и проведение свадьбы чаще возвращают деньги по кредиту всрок, нежели люди берущие кредит на операции с авто и образование.
Таким образом, идеальные кандидаты на выдачу кредита это люди без детей, бывшие в отношениях, берущие кредит на операции с недвижимостью/проведение свадьбы

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Ты отлично понимаешь суть проведенного анализа!

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Никита, проект отличный! У тебя сильные аналитические навыки и владение инструментами для проведения исследования. Но всё же в проекте есть буквально одно критическое замечание и я попрошу тебя исправить его, чтобы проект стал еще лучше! </div>